{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": "11"
                },
                "loose": true,
                "corejs": 2,
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-react"
    ]
}
